<div class="row">
	<div class="col-lg-4 col-md-4 col-sm-6 col-xs-8">
		<ul class="list-box">
			<li class="list-box-item" data-ng-repeat="task in data.tasks">
				<p class="strong text-primary">
					{{task.Title}}
					<span class="strong text-mute pull-right">Due: {{task.DueDate | date: 'MM/dd/yy hh:mma'}}</span>
				</p>
				<br/>
				<p class="text-info">{{task.details}}</p>
			</li>
		</ul>
	</div>
	<div class="col-lg-4 col-md-4 col-sm-3 col-xs-4">
		<ul class="list-box">
			<li class="list-box-item" data-ng-repeat="task in data.assignedTasks">
				<p class="strong text-primary">
					{{task.Title}}
					<span class="strong text-mute pull-right">Due: {{task.DueDate | date: 'MM/dd/yy hh:mma'}}</span>
				</p>
				<br/>
				<p class="text-info">{{task.details}}</p>
	</div>
</div>